body{
    background-image: url(in.jpg);
}
.box{
    border: 1px solid black;
    margin-left: 550px;
    margin-right: 700px;
    margin-top: 150px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00bfff;
    text-transform: uppercase;
}
a:hover{
    color: aqua;
}
